<div class="centered">
    <h1 class="centered"> Question</h1>
    <div class="centered">
        <table border="1" >
            <tr >
                <td> <h1 class=""> <%= @q.text %> </h1> </td>
                <td> <h1 class=""> <%= @q.answer %> </h1> </td>
                <td> <h1 class=""> <%= @q.id %> </h1> </td>
            </tr>

        </table>

    </div>

</div>