<div class="centered">
    <h1 class="name">WDI <img src="https://cdn2.iconfinder.com/data/icons/humano2/128x128/apps/beryl-manager.png" alt=""> Quiz</h1>
    <h3>The Quiz to see how much you've learned!</h3>
</div>